In [3]:
import pandas as pd
import geopandas as gpd

# Shape file path
path = 'data/tambon/tha_admbnda_adm3_rtsd_20190221.shp'

# read shapefile into geo pandas data frame
df_map = gpd.read_file(path)

# check data
df_map.head()

,Shape_Leng,Shape_Area,ADM3_EN,ADM3_TH,ADM3_PCODE,ADM3_REF,ADM3ALT1EN,ADM3ALT2EN,ADM3ALT1TH,ADM3ALT2TH,...,ADM1_EN,ADM1_TH,ADM1_PCODE,ADM0_EN,ADM0_TH,ADM0_PCODE,date,validOn,validTo,geometry
0,0.360041,0.005078,A Hi,อาฮี,TH420803,None,None,None,None,None,...,Loei,เลย,TH42,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((101.40131 17.68269, 101.40133 17.681..."
1,0.044900,0.000120,A Noru,อาเนาะรู,TH940102,None,None,None,None,None,...,Pattani,ปัตตานี,TH94,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((101.25758 6.86069, 101.25701 6.86070..."
2,0.365838,0.004086,A Phon,อาโพน,TH321305,None,None,None,None,None,...,Surin,สุรินทร์,TH32,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((103.94985 14.50446, 103.95008 14.504..."
3,0.314589,0.003177,A Song,อาซ่อง,TH950615,None,None,None,None,None,...,Yala,ยะลา,TH95,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((101.48174 6.53231, 101.48255 6.53178..."
4,1.102764,0.014955,Ai Na Lai,อ่ายนาไลย,TH550711,None,None,None,None,None,...,Nan,น่าน,TH55,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((100.59497 18.55229, 100.59525 18.551..."

In [26]:
df_map[['ADM3_EN', 'ADM2_EN', 'ADM1_EN', 'geometry']]

,ADM3_EN,ADM2_EN,ADM1_EN,geometry
0,A Hi,Tha Li,Loei,"POLYGON ((101.40131 17.68269, 101.40133 17.681..."
1,A Noru,Mueang Pattani,Pattani,"POLYGON ((101.25758 6.86069, 101.25701 6.86070..."
2,A Phon,Buachet,Surin,"POLYGON ((103.94985 14.50446, 103.95008 14.504..."
3,A Song,Raman,Yala,"POLYGON ((101.48174 6.53231, 101.48255 6.53178..."
4,Ai Na Lai,Wiang Sa,Nan,"POLYGON ((100.59497 18.55229, 100.59525 18.551..."
...,...,...,...,...
7420,Yu Po,Mueang Yala,Yala,"POLYGON ((101.24807 6.59528, 101.24899 6.59489..."
7421,Yu Wa,San Pa Tong,Chiang Mai,"POLYGON ((98.87132 18.64086, 98.87141 18.64085..."
7422,Yuan,Chiang Kham,Phayao,"POLYGON ((100.29549 19.55679, 100.29554 19.556..."
7423,Yung Moen,Samoeng,Chiang Mai,"POLYGON ((98.57967 18.91206, 98.57720 18.91344..."
7424,Yung Thalai,U Thong,Suphan Buri,"POLYGON ((99.95319 14.35282, 99.95388 14.35189..."

In [28]:
# sales data
df_sale_by_subdistrict = pd.read_csv('data/sales_by_province.csv')
df_sale_by_subdistrict

           province              district     subdistrict  sales
0     Amnat Charoen  Mueang Amnat Charoen            Bung  66342
1     Amnat Charoen  Mueang Amnat Charoen  Non Nam Thaeng  19171
2         Ang Thong      Mueang Ang Thong         Ban Hae  68231
3         Ang Thong      Mueang Ang Thong          Ban It  98260
4         Ang Thong      Mueang Ang Thong          Ban Ri  99327
...             ...                   ...             ...    ...
1159       Yasothon       Mueang Yasothon    Khueang Kham  93751
1160       Yasothon       Mueang Yasothon      Nai Mueang  14832
1161       Yasothon       Mueang Yasothon    Nam Kham Yai  63644
1162       Yasothon       Mueang Yasothon          Samran  40995
1163       Yasothon       Mueang Yasothon       Tat Thong  64971

[1164 rows x 4 columns]

In [29]:
# merge sales data to shapefile data
dfkepler = df_sale_by_subdistrict.merge(df_map, left_on = ['province', 'district', 'subdistrict'], right_on = ['ADM1_EN','ADM2_EN','ADM3_EN'])
dfkepler

# export to plot in Kepler
dfkepler.to_csv('output/th_sales_map.csv', index = False)

,province,district,subdistrict,sales,Shape_Leng,Shape_Area,ADM3_EN,ADM3_TH,ADM3_PCODE,ADM3_REF,...,ADM1_EN,ADM1_TH,ADM1_PCODE,ADM0_EN,ADM0_TH,ADM0_PCODE,date,validOn,validTo,geometry
0,Amnat Charoen,Mueang Amnat Charoen,Bung,66342,0.510163,0.005783,Bung,บุ่ง,TH370101,None,...,Amnat Charoen,อำนาจเจริญ,TH37,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((104.69497 15.91134, 104.69491 15.911..."
1,Amnat Charoen,Mueang Amnat Charoen,Non Nam Thaeng,19171,0.401657,0.005075,Non Nam Thaeng,โนนหนามแท่ง,TH370113,None,...,Amnat Charoen,อำนาจเจริญ,TH37,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((104.66572 15.97082, 104.66555 15.969..."
2,Ang Thong,Mueang Ang Thong,Ban Hae,68231,0.112574,0.000333,Ban Hae,บ้านแห,TH150105,None,...,Ang Thong,อ่างทอง,TH15,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((100.44395 14.57680, 100.44404 14.576..."
3,Ang Thong,Mueang Ang Thong,Ban It,98260,0.115778,0.000753,Ban It,บ้านอิฐ,TH150108,None,...,Ang Thong,อ่างทอง,TH15,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((100.48537 14.59504, 100.48645 14.594..."
4,Ang Thong,Mueang Ang Thong,Ban Ri,99327,0.107070,0.000428,Ban Ri,บ้านรี,TH150112,None,...,Ang Thong,อ่างทอง,TH15,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((100.50013 14.61771, 100.50009 14.617..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,Yasothon,Mueang Yasothon,Khueang Kham,93751,0.453773,0.004424,Khueang Kham,เขื่องคำ,TH350112,None,...,Yasothon,ยโสธร,TH35,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((104.16604 15.77861, 104.16764 15.777..."
1160,Yasothon,Mueang Yasothon,Nai Mueang,14832,0.168318,0.000809,Nai Mueang,ในเมือง,TH350101,None,...,Yasothon,ยโสธร,TH35,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((104.16063 15.80110, 104.16064 15.800..."
1161,Yasothon,Mueang Yasothon,Nam Kham Yai,63644,0.284967,0.002725,Nam Kham Yai,น้ำคำใหญ่,TH350102,None,...,Yasothon,ยโสธร,TH35,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((104.18069 15.84763, 104.18155 15.847..."
1162,Yasothon,Mueang Yasothon,Samran,40995,0.228872,0.002545,Samran,สำราญ,TH350104,None,...,Yasothon,ยโสธร,TH35,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((104.13480 15.86965, 104.13606 15.867..."
1163,Yasothon,Mueang Yasothon,Tat Thong,64971,0.366600,0.003767,Tat Thong,ตาดทอง,TH350103,None,...,Yasothon,ยโสธร,TH35,Thailand,ประเทศไทย,TH,2019-02-18,2019-02-21,None,"POLYGON ((104.18707 15.80793, 104.18714 15.807..."